body {
  /*background-image: linear-gradient(red, yellow);*/
  background-color: #3260A5;
  font-family: Arial, Helvetica, sans-serif;
}

.bg-1 { 
    background-color: #3260A5;
    color: #ffffff;
  }

  .bg-2 { 
    background-color: #D3D3D3;
    color: #000000;
  }

  .bg-3 { 
  background-color: #2f2f2f;
  color: #ffffff;
	}

	 .bullets { 
    background-color: #3260A5;
    color: #ffffff;
        max-width: 700px;
  }

  .container-fluid {
  padding-top: 40px;
  padding-bottom: 40px;
	}	

.navbar {
  padding-top: 15px;
  padding-bottom: 15px;
  border: 0;
  border-radius: 0;
  margin-bottom: 0;
  font-size: 12px;
  letter-spacing: 5px;
}

.navbar-nav li a:hover {
  color: #3260A5 !important;
}